/*=========================================
Reset
=========================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.group:before,
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1; }

/**
 * Baseline
 */
html {
  font-size: 15px; }

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff; }

p {
  font-size: 1em;
  /* 15 */
  line-height: 1.5em;
  /* 22.5 */
  margin-bottom: 1.5em; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0; }

h1 {
  font-size: 3em;
  /* 48 */
  line-height: 1em;
  /* 48 */ }

h2 {
  font-size: 2.25em;
  /* 36 */
  line-height: 1.3333em;
  /* 48 */ }

h3 {
  font-size: 1.5em;
  /* 24 */
  line-height: 1em;
  /* 24 */
  text-transform: none;
  width: 14em;
  margin-left: auto;
  margin-right: auto; }

h4, h5, h6 {
  font-size: 1em;
  /* 16 */
  line-height: 1.5em;
  /* 24 */ }

small,
.dablink,
.hatnote {
  max-width: 46em;
  font-size: .875em;
  /* 14 */
  line-height: 1.714285714em;
  /* 24 */
  margin: 0 0 1.714285714em; }

tr, td, th {
  padding: 0; }

tr th {
  padding-top: 1.714285714em; }

label {
  font-weight: bold; }

/**
 * Basis Styling
 */
body {
  font-family: 'Gotham A', 'Gotham B';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #111;
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
.highlight {
  margin-bottom: 10px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul {
  list-style-type: none; }

ol {
  margin-left: 20px;
  margin-bottom: 3em; }

li {
  font-weight: 400; }
  li > ul,
  li > ol {
    margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

h4, h5, .btn {
  text-transform: uppercase;
  font-weight: bold; }

h1 {
  font-size: 48px;
  letter-spacing: .25em;
  line-height: 6em; }

h2 {
  font-size: 2em;
  line-height: 2em; }

h3 {
  font-size: 1.25em;
  line-height: 1; }

h4 {
  font-size: 14px;
  line-height: 1.25em; }

h5 {
  font-size: 10px; }

p {
  color: rgba(17, 17, 17, 0.6); }

/**
 * Links
 */
a {
  color: #3B8FFF;
  text-decoration: none; }
  a:hover {
    color: #0066ee; }
  a.dark {
    color: rgba(255, 255, 255, 0.5); }
  a.dark:hover {
    color: #FFF; }

section {
  padding: 8em 0em;
  position: relative; }

/**
 * Blockquotes
 */
blockquote {
  padding-left: 10px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #666;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #666; }

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

.center {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.fr {
  float: right; }

.fl {
  float: left; }

.limit {
  margin-left: auto;
  margin-right: auto; }

/*
SPACING
========================*/
.mb0 {
  margin-bottom: 0em; }

.mb1 {
  margin-bottom: 1em; }

.mb2 {
  margin-bottom: 2em; }

.mb4 {
  margin-bottom: 4em; }

.mb6 {
  margin-bottom: 6em; }

.mb8 {
  margin-bottom: 8em; }

.mt0 {
  margin-top: 0em; }

.mt1 {
  margin-top: 1em; }

.mt2 {
  margin-top: 2em; }

.mt3 {
  margin-top: 3em; }

.mt4 {
  margin-top: 4em; }

.mt6 {
  margin-top: 6em; }

.mt8 {
  margin-top: 8em; }

.ml0 {
  margin-left: 0em; }

.ml1 {
  margin-left: 1em; }

.ml2 {
  margin-left: 2em; }

.ml3 {
  margin-left: 3em; }

.ml4 {
  margin-left: 4em; }

.ml6 {
  margin-left: 6em; }

.ml8 {
  margin-left: 8em; }

.mr0 {
  margin-right: 0em; }

.mr1 {
  margin-right: 1em; }

.mr2 {
  margin-right: 2em; }

.mr3 {
  margin-right: 3em; }

.mr4 {
  margin-right: 4em; }

.mr6 {
  margin-right: 6em; }

.mr8 {
  margin-right: 8em; }

.pb0 {
  padding-bottom: 0em !important; }

.pb1 {
  padding-bottom: 1em; }

.pb2 {
  padding-bottom: 2em; }

.pb3 {
  padding-bottom: 3em; }

.pb4 {
  padding-bottom: 4em; }

.pb6 {
  padding-bottom: 6em; }

.pb8 {
  padding-bottom: 8em; }

/*
ABSOLUTE POSITIONS
========================*/
.z100 {
  z-index: 100;
  position: relative; }

.top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

/*
ROWZ
========================*/
.row-med {
  height: 8em; }

.row-lrg {
  height: 12em; }

/*
COLUMNZ
========================*/
[class*='col'] {
  float: left; }

.col1-4 {
  width: 25%; }

.col3-4 {
  width: 70%;
  margin-right: 5%; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

/*
HEADER STYLES
==========================*/
header {
  text-transform: uppercase;
  z-index: 100;
  padding: 30px;
  font-size: .875em;
  position: relative;
  box-shadow: 0px 1px 1px #999;
  width: 100%;
  box-shadow: none;
  position: absolute;
  top: 0; }
  header .btn {
    font-weight: 500; }
  header li {
    font-weight: 500; }
  header.dark {
    box-shadow: 0px 1px 0px rgba(17, 17, 17, 0.1); }
  header.new {
    position: absolute;
    width: 100%;
    box-shadow: none; }
  header .logo {
    float: left;
    width: 90px;
    margin-top: 2px;
    overflow: hidden;
    text-indent: 100%;
    background: url(/img/logo-light.svg) no-repeat;
    background-size: 90px; }
    header .logo:hover {
      background: url(/img/logohover.svg) no-repeat;
      background-size: 90px; }
  header a.hiring {
    opacity: 1;
    background-color: #3B8FFF;
    color: #FFF;
    padding: 0em .55em;
    border-radius: 50%; }

/*
SPLASH STYLES
==========================*/
.splash {
  position: relative;
  height: 630px; }
  .splash .cta {
    position: absolute;
    left: 50%;
    width: 20em;
    margin-left: -10em; }

.splash:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1; }

.heading {
  font-size: 48px;
  line-height: 1.2em;
  font-weight: 300;
  letter-spacing: .13em;
  text-transform: uppercase;
  width: 870px;
  margin-top: 0em;
  color: #FFF;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.desc {
  font-weight: 500; }

.cta {
  font-weight: 400;
  position: absolute;
  bottom: 6em;
  width: 20em;
  letter-spacing: .14em; }
  .cta.center {
    left: 50%;
    margin-left: -10em; }

/*
NAV STYLES
==========================*/
ul.nav {
  list-style-type: none;
  text-transform: uppercase; }
  ul.nav.sub-nav {
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block; }
  ul.nav li:first-child {
    padding-left: 0; }
  ul.nav li a {
    color: #FFF;
    font-size: 11px;
    letter-spacing: .08em; }
    ul.nav li a.active, ul.nav li a.main:hover {
      padding-bottom: .42em;
      border-bottom: 2px solid #FFF; }

.nav li {
  float: left;
  padding: 0px 15px;
  line-height: 1em;
  margin-top: 5px; }
  .nav li:last-child {
    padding-right: 0; }

.nav.nav-secondary a {
  color: #999; }
  .nav.nav-secondary a:hover {
    color: #454545; }

/*
SECTION STYLES
==========================*/
section.gray {
  background: #f5f5f5; }
section.tight {
  padding: 6em 0em; }
section p {
  width: 470px;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.subheader {
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  letter-spacing: .13em;
  line-height: 1.2em; }

.info {
  text-align: center; }

/*
FOOTER STYLES
==========================*/
footer {
  overflow: auto;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
  position: relative;
  color: #ccc;
  border-top: 1px solid #f0f0f0; }
  footer .nav-group {
    padding: 4em 0 8em 3em; }
  footer nav {
    margin-right: 5em; }
  footer.color {
    background-image: -webkit-linear-gradient(-90deg, #3BD2FF, #2448BB);
    background-image: -moz-linear-gradient(-90deg, #3BD2FF, #2448BB);
    background-image: -ms-linear-gradient(-90deg, #3BD2FF, #2448BB);
    background-image: -o-linear-gradient(-90deg, #3BD2FF, #2448BB);
    background: linear-gradient(-90deg, #3BD2FF, #2448BB); }
  footer .bottom-border {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-image: -webkit-linear-gradient(-90deg, #3BD2FF, #2448BB);
    background-image: -moz-linear-gradient(-90deg, #3BD2FF, #2448BB);
    background-image: -ms-linear-gradient(-90deg, #3BD2FF, #2448BB);
    background-image: -o-linear-gradient(-90deg, #3BD2FF, #2448BB);
    background: linear-gradient(-90deg, #3BD2FF, #2448BB); }
  footer i {
    font-size: 12px;
    margin-top: 2px; }

footer nav {
  font-family: 'Gotham A', 'Gotham B';
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase; }

footer nav ul {
  list-style-type: none; }
  footer nav ul li {
    font-weight: 400;
    padding: 0em;
    line-height: 2.25em; }

footer .nav {
  color: #999;
  font-family: 'Gotham A', 'Gotham B';
  font-weight: 400;
  font-style: normal; }

footer .nav li:first-child {
  padding-left: 0px; }

footer a {
  color: #ccc; }
  footer a:hover {
    color: #3B8FFF; }

footer h3 {
  font-family: 'Gotham A', 'Gotham B';
  font-weight: 500;
  font-style: normal;
  margin-bottom: 1em; }
  footer h3 a, footer h3 a:visited {
    color: #666; }

ul.post-list {
  list-style-type: none;
  margin-bottom: 6em; }

footer nav ul {
  list-style-type: none; }

/*
BUTTON STYLES
==========================*/
.btn {
  cursor: pointer;
  display: block;
  max-width: 20em;
  font-size: 12px;
  background: #3B8FFF;
  text-align: center;
  padding: 7px 15px;
  color: white;
  border-radius: .35em;
  -webkit-transition: background .15s ease;
  font-weight: 400;
  letter-spacing: .14em; }
  .btn:hover {
    background: #06E;
    color: white;
    -webkit-transition: all .2s; }
  .btn.btn-main {
    border-color: #3B8FFF;
    color: #FFF; }
    .btn.btn-main:hover {
      background-image: -webkit-linear-gradient(-90deg, #3B8FFF, #2448BB);
      background-image: -moz-linear-gradient(-90deg, #3B8FFF, #2448BB);
      background-image: -ms-linear-gradient(-90deg, #3B8FFF, #2448BB);
      background-image: -o-linear-gradient(-90deg, #3B8FFF, #2448BB);
      background: linear-gradient(-90deg, #3B8FFF, #2448BB);
      color: #fff; }
  .btn.btn-light {
    border-color: #3B8FFF;
    background-color: #FFF;
    color: #222; }
    .btn.btn-light:hover {
      background-color: #0066ee;
      color: #FFF;
      background-image: none; }
  .btn.btn-outline {
    border: 1px solid #DDD;
    background-color: #FFF;
    color: #222; }
    .btn.btn-outline:hover {
      background-color: #3B8FFF;
      border-color: #3B8FFF;
      color: #FFF;
      background-image: none; }
  .btn.btn-large {
    font-weight: 500;
    width: 400px;
    display: block;
    text-align: center;
    font-size: 24px;
    letter-spacing: .14em;
    padding: 13px 5px;
    margin: 90px auto 30px auto; }
  .btn.btn-small {
    font-size: 11px;
    padding: 15px;
    border-radius: 3px; }
  .btn.btn-tiny {
    font-size: 9px;
    padding: 13px 17px; }

.longform p {
  padding: 2em 0em; }

.update .post-content p {
  font-weight: 500;
  opacity: 1; }

.post-content p {
  margin-bottom: 1em; }

hr {
  margin: 1em 0em;
  height: 1px;
  border: 0;
  border-top: 1px solid #999; }

footer nav {
  padding: 0;
  box-shadow: none; }

.teal {
  background-color: #2ec5bf; }

.blue {
  background-color: #3B8FFF; }

.gold {
  background-color: #d9cf96; }

.purple {
  background-color: #8a669f; }

.red {
  background-color: #ff7575; }

.gray {
  background-color: #eee; }

.gray-light {
  background-color: #f0f0f0; }

.blue {
  background-color: #3B8FFF; }

.dark {
  color: #FFF; }
  .dark p {
    color: rgba(255, 255, 255, 0.9); }
  .dark .strong {
    color: #FFF; }

.small {
  font-size: 11px;
  text-transform: uppercase; }

.loud {
  color: #3B8FFF !important; }
  .loud:hover {
    color: #111; }

.strong {
  font-weight: 500; }

.light {
  font-weight: 400; }

.silent {
  color: #999; }
  .silent a {
    color: #999; }
  .silent a:hover {
    color: #666; }

.quiet {
  color: #666; }
  .quieta:hover {
    color: #111; }

.hide {
  display: none; }

.b {
  border: 1px solid #ddd; }

.bt {
  border-top: 1px solid #ddd; }

.br {
  border-right: 1px solid #ddd; }

.bb {
  border-bottom: 1px solid #ddd; }

.bl {
  border-left: 1px solid #ddd; }

.eng-header {
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 0;
  opacity: .25; }

header .mobile {
  display: none; }

.vert {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.mosaic .col-small p.link {
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: 2px solid #87bbff;
  width: 7em; }
.mosaic .col-small .btn:hover p.link {
  border-bottom-color: #FFF; }
.mosaic p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
.mosaic a.full {
  top: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  max-width: none;
  width: 100%;
  font-size: 1em;
  height: 100%;
  border-radius: 0;
  text-transform: none; }
  .mosaic a.full p {
    transform: translateY(0%); }
.mosaic.dark {
  background: #000;
  color: #FFF; }
  .mosaic.dark img {
    disabled-opacity: .4; }
.mosaic h4 {
  font-size: .6em;
  font-weight: 500;
  text-align: center;
  margin: 2em;
  color: #ccc; }
.mosaic .col-big {
  width: 66.66%; }
  .mosaic .col-big .section {
    height: 20em;
    position: relative;
    overflow: hidden; }
    .mosaic .col-big .section img {
      height: 30em;
      max-height: none;
      width: 100%;
      max-width: none;
      position: absolute;
      top: 0;
      opacity: 0.9; }
  .mosaic .col-big p {
    text-align: center;
    width: 20em;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.2em;
    z-index: 100; }
.mosaic .col-small {
  width: 33.33%; }
  .mosaic .col-small .section {
    height: 30em;
    position: relative;
    overflow: hidden; }
    .mosaic .col-small .section img {
      height: 30em;
      max-height: none;
      width: auto;
      max-width: none;
      position: absolute;
      top: 0;
      opacity: 0.9; }
  .mosaic .col-small p {
    text-align: center;
    width: 10em;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.2em;
    z-index: 100; }

/*
GRID
========================*/
.grid {
  margin-right: auto;
  margin-left: auto; }
  .grid:after {
    content: "";
    display: table;
    clear: both; }
  .grid .block:nth-child(-n+3),
  .grid li:nth-child(-n+3) {
    margin-top: 0; }
  .grid li {
    width: 333px;
    margin: 18px;
    float: left; }
    .grid li h3 {
      text-align: center;
      font-weight: 500;
      letter-spacing: .1em;
      font-size: 1em;
      text-transform: uppercase; }
    .grid li .cta {
      bottom: 1em;
      width: 100%; }

.grid.pics .block:hover img {
  height: 110%; }

.block {
  border: 3px solid #eee;
  text-align: center;
  position: relative;
  height: 333px;
  float: left;
  width: inherit;
  color: #454545; }
  .block:hover {
    background-color: #3B8FFF;
    border-color: #3B8FFF;
    color: #FFF;
    cursor: pointer; }
    .block:hover p {
      color: #FFF; }
  .block.block-tall {
    height: 390px; }
  .block h3 {
    text-align: center;
    font-weight: 500;
    letter-spacing: .1em;
    font-size: 1em;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 1.2em; }
  .block .desc {
    text-transform: none;
    font-weight: 400;
    width: 100%;
    font-size: .875em;
    line-height: 1.4em;
    padding: 2em 2em 0em; }
  .block .bottom {
    position: absolute;
    bottom: 0em;
    width: 100%; }
  .block .cta {
    text-align: center;
    font-size: .875em;
    font-weight: 400;
    text-transform: none; }

@media all and (max-width: 1107px) and (min-width: 738px) {
  .grid {
    width: 738px; }

  .grid li {
    width: 333px;
    margin: 18px; } }
@media all and (max-width: 1301px) and (min-width: 1107px) {
  .grid {
    width: 1107px; }

  .grid li {
    width: 333px;
    margin: 18px; } }
@media all and (min-width: 1302px) {
  .grid {
    width: 1302px; }

  .grid li {
    width: 398px;
    margin: 18px; } }
/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

#about .stats {
  padding: 6em 0em; }
#about .stats ul {
  width: 1010px;
  margin: 0 auto;
  font-weight: 500; }
#about .stats h4,
#about .mosaic h4 {
  color: rgba(255, 255, 255, 0.6);
  font-size: .6em;
  letter-spacing: .14em; }
#about .stats h2 {
  color: #FFF;
  font-size: 3em;
  font-weight: 700; }
#about .vert {
  top: 45%; }
#about .mosaic .col-big img {
  top: -50%; }
@media all and (max-width: 1000px) {
  #about .mosaic .col-big img {
    top: 0%; } }
#about .mosaic p {
  -webkit-transform: translateY(0%);
  transform: translateY(0%); }
#about .stats li {
  float: left;
  text-align: center;
  padding: 0em 3em; }
#about .splash:after {
  background: url(http://www.shopspring.com.s3.amazonaws.com/img/about_header.jpg) #000 no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#brands .splash .cta {
  color: #3B8FFF; }
#brands .testimonial .subheader {
  text-transform: none; }
#brands .testimonial .heading {
  -webkit-transform: translateY(0%);
  transform: translateY(0%); }
#brands .testimonial .brand {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: #9BC0FF;
  letter-spacing: .2em; }
#brands .hide {
  display: none; }
#brands .wufoo select,
#brands .wufoo textarea,
#brands .wufoo input {
  display: block;
  max-width: 30em;
  width: 100%;
  padding: 1em;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border: 1px solid #e1e1e1; }
#brands .wufoo .btn {
  width: 100%;
  font-size: 1em;
  margin-top: 2em;
  border: none; }
#brands .splash {
  background: none; }
#brands .splash:after {
  background: url(http://www.shopspring.com.s3.amazonaws.com/img/brands_header.jpg) #000 no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#careers h3 {
  text-transform: none;
  width: 14em;
  margin-left: auto;
  margin-right: auto; }
#careers .link {
  color: #3b8fff;
  cursor: pointer; }
#careers .link:hover {
  color: #06e; }
#careers .teams .active {
  background-color: #3b8fff;
  color: #FFF; }
#careers .teams .block.active:hover {
  background-color: #3b8fff; }
#careers .teams .active .header,
#careers .teams .active .header:after {
  background: none; }
#careers .teams .openings {
  display: none; }
#careers .teams .active .openings {
  display: block; }
#careers .openings li {
  width: 100%;
  margin: 0;
  padding: 0em 2em 1.5em;
  text-align: left;
  color: #9cc1ff;
  font-size: .875em; }
#careers .openings li:hover {
  color: #FFF;
  cursor: pointer; }
#careers .openings li a {
  color: #FFF;
  cursor: pointer; }
#careers .teams .active h3 {
  color: #FFF !important; }
#careers .teams .active .desc,
#careers .teams .active .bottom {
  display: none; }
#careers .teams .block {
  position: relative;
  border-width: 1px;
  overflow: auto; }
#careers .teams .block:hover {
  background-color: transparent;
  color: #222;
  border-color: #eee;
  cursor: default; }
#careers .teams .block:hover p {
  color: rgba(17, 17, 17, 0.6); }
#careers .teams .block:hover .cta {
  color: #FFF; }
#careers .teams .header {
  height: 2em;
  margin-top: 2em; }
#careers .teams .block:nth-child(-n+3),
#careers .teams li:nth-child(-n+3) {
  margin-top: 0; }
#careers .teams .block h3 {
  line-height: 1.25em;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .1em;
  width: 60%; }
#careers .teams .bottom {
  font-size: .75em; }
#careers .disabled {
  background: #ccc; }
#careers .disabled:hover {
  background: #ccc;
  cursor: default; }
#careers .teams .btn.cta {
  padding: 1em;
  text-transform: uppercase;
  font-weight: 300;
  width: 15em;
  margin-left: -7.5em;
  bottom: 1em; }
#careers #position p {
  text-align: left;
  margin: 0;
  width: 80%; }
#careers #position .title {
  margin: 0; }
#careers #position h3 {
  margin: 0;
  font-size: 1.2em !important; }
#careers #position strong {
  font-weight: normal;
  size: 1rem; }
#careers #position a {
  width: 100%;
  font-size: 2em;
  max-width: none; }
#careers .splash:after {
  background: url(http://www.shopspring.com.s3.amazonaws.com/img/careers_header.jpg) #000 no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#engineering .splash:after {
  background: url(http://www.shopspring.com.s3.amazonaws.com/img/eng_header.jpg) #000 no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
#engineering .CodeMirror {
  height: 30em; }
#engineering .cm-s-material .CodeMirror-gutters {
  height: 30em !important; }
#engineering .sublime {
  max-width: 60em;
  overflow: auto;
  font-size: 0.875em; }
#engineering .sublime .openings {
  height: 32.5em;
  background: #263238;
  display: none;
  width: 100%;
  color: #5A6F79; }
#engineering .sublime .openings p {
  color: #5A6F79; }
#engineering .sublime::before {
  content: '';
  display: block;
  position: relative;
  height: 30px;
  border-radius: 10px 10px 0 0;
  width: 100%;
  background-color: #DDD; }
#engineering .files {
  width: 100%;
  background: #181F23;
  color: #333; }
#engineering .files ul {
  font-family: sans-serif;
  overflow: hidden;
  font-size: .875em;
  z-index: 100;
  margin-bottom: -1px;
  padding: 1em 1em 0em; }
#engineering .files li {
  float: left;
  font-size: .875em;
  padding: .5rem 1rem;
  color: rgba(255, 255, 255, 0.5);
  background-color: #5A6F79;
  border-radius: 5px 5px 0 0;
  margin-right: .25em;
  width: 15em;
  margin-bottom: -2px;
  border-top: 1px solid #999; }
#engineering .files li:hover {
  cursor: pointer; }
#engineering .files li.active {
  border-top: 1px solid #5A6F79;
  border-right: 1px solid #5A6F79;
  border-left: 1px solid #5A6F79;
  color: #FFF;
  z-index: 100;
  position: relative;
  background-color: #263238; }
#engineering .content {
  background: #263238;
  height: 30em; }
#engineering .CodeMirror {
  border-top: 1px solid #5A6F79; }
#engineering #tools li {
  height: 3em; }
#engineering #tools li:nth-last-child(-n+1) {
  width: 100%;
  margin-right: 0;
  margin-left: 0; }
#engineering .gopher {
  width: 15em;
  position: absolute;
  bottom: 0;
  left: 5em; }
#engineering .projects li h3 {
  font-weight: 400;
  text-transform: none;
  color: #fff;
  line-height: 1.5; }
#engineering .block {
  overflow: hidden;
  width: 100%;
  background: #000; }
#engineering .grid .block:hover {
  border-color: #eee;
  background: #000;
  color: #454545;
  cursor: default; }
#engineering .grid .block img {
  height: 100%;
  max-width: none;
  position: absolute;
  left: 0; }

#faq .splash:after {
  background: url(http://www.shopspring.com.s3.amazonaws.com/img/faq_header.jpg) #000 no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
#faq .qa.limit {
  max-width: 52em; }
#faq .qa p {
  width: 100%;
  text-align: left; }
#faq .question {
  width: 100%; }
#faq .question:hover {
  cursor: pointer;
  color: #3b8fff; }
#faq .question:after {
  content: '+';
  float: right;
  color: #ddd; }
#faq .active .question:after {
  content: '-'; }
#faq .question:hover:after {
  color: #3b8fff; }
#faq .answer {
  height: 0;
  overflow: hidden;
  transition: all .2s; }
#faq .active .answer {
  height: auto; }

#press .block {
  height: 25em; }
#press .block:hover img {
  opacity: 1;
  -webkit-filter: invert(0.5) brightness(3);
  filter: invert(1); }
#press .logo-small {
  opacity: .42;
  width: 5em;
  margin-left: -3em;
  position: absolute;
  top: 25%; }
#press .logo-med {
  opacity: .42;
  width: 6em;
  margin-left: -3em;
  position: absolute;
  top: 25%; }
#press .logo-long {
  opacity: .42;
  width: 8em;
  margin-left: -4em;
  position: absolute;
  top: 25%; }
#press .grid .block h3 {
  text-transform: none;
  width: 14em;
  margin-left: auto;
  margin-right: auto; }
#press .mosaic.press p {
  color: #FFF; }
#press .mosaic .col-big .section img {
  height: auto;
  display: block;
  position: relative; }
#press .mosaic .col-big img,
#press .mosaic .col-big p {
  width: 50%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none; }
#press .mosaic .col-small .section img {
  height: 5em;
  transform: translateY(0);
  width: auto;
  position: static;
  display: block;
  margin: 0 auto 3em; }
#press .container {
  max-width: 40em;
  margin: 0 auto;
  height: 100%; }
#press .col1-2 {
  width: 50%; }
#press .col-small .col1-2 {
  width: 100%; }
#press .col1-2 img,
#press .col1-2 p {
  margin: 0 auto; }
#press .splash:after {
  background: url(https://static.shopspring.com/www.shopspring.com/img/press_header.jpg) #000 no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#privacy .splash:after {
  background: url(http://www.shopspring.com.s3.amazonaws.com/img/privacy_header.jpg) #000 no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#team .filter .active {
  background-color: #3b8fff;
  color: #FFF;
  border-color: #3b8fff; }
#team ul.filter {
  display: inline-block; }
#team .filter .btn:hover {
  background-color: #FFF;
  color: #3b8fff; }
#team .filter .active:hover {
  background-color: #3b8fff;
  color: #FFF; }
#team .mobile.select {
  max-width: 30em;
  width: 90%;
  height: 2.5em;
  padding: 1em;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border: 1px solid #E1E1E1; }
#team .employee {
  border: 1px solid #ddd;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  transition: background .2s, border .2s;
  height: 390px; }
#team .grid {
  max-width: 1120px;
  margin: auto; }
#team .grid li {
  max-width: 330px;
  margin-bottom: 10px; }
#team .grid .block:nth-child(-n+3), #team .grid li:nth-child(-n+3) {
  margin-top: 18px; }
#team .employee .name-active, #team .employee .role, #team .employee .bio, #team .employee .quiet, #team .employee .where-you-spring {
  display: none; }
#team .employee.active .name-active, #team .employee.active .role, #team .employee.active .bio, #team .employee.active .quiet, #team .employee.active .where-you-spring {
  display: block; }
#team .employee:hover {
  color: #3b8fff;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #fff; }
#team .employee.active {
  background: #3b8fff;
  text-align: left;
  text-transform: none;
  color: #FFF;
  border-color: #3b8fff;
  padding: 1em 2em;
  font-weight: 300; }
#team .employee.active img, #team .employee.active .name {
  display: none; }
#team .employee.active .brand-block {
  -webkit-animation-delay: .25s;
  -moz-animation-delay: .25s; }
#team .employee.active .bio,
#team .employee.active .where-you-spring {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  font-size: .875rem; }
#team .employee.active .role {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s; }
#team .employee.active .name-active {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s; }
#team .employee.active .name-active {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: .5em;
  letter-spacing: .14em; }
#team .employee.active .role {
  line-height: 1em;
  margin-bottom: 2em; }
#team .employee.active .brand-block {
  position: absolute;
  bottom: 1.5rem; }
#team .employee.active .quiet {
  color: #fff;
  opacity: .33;
  font-size: .875rem; }
#team .employee.active .brand-favorite:hover {
  text-decoration: underline; }
#team .employee .photo-div {
  height: 320px;
  width: 331px; }
#team .employee img {
  max-width: 100%;
  height: 320px;
  height: 320px;
  padding: 1em 1em 0 1em; }
#team .employee .name {
  letter-spacing: .1em;
  line-height: 4em; }
#team .splash:after {
  background: url(http://www.shopspring.com.s3.amazonaws.com/img/team_header.jpg) #000 no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.mobile {
  display: none; }

.mobile-none {
  display: block; }

@media all and (max-width: 950px) {
  body {
    transform: TranslateX(0);
    transition: transform .2s; }

  html {
    background-color: #F2f2f2; }

  body.show-nav {
    -webkit-transform: TranslateX(15em);
    transform: TranslateX(15em);
    overflow: hidden;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc; }

  .block {
    float: inherit; }

  .grid .block:nth-child(-n+3), .grid li:nth-child(-n+3) {
    margin: auto; }

  .grid li {
    float: inherit; }

  .grid .block:nth-child(-n+3), .grid li:nth-child(-n+3) {
    margin: 0.875em auto; }

  .grid .block:nth-child(-n+2), .grid li:nth-child(-n+2) {
    margin-top: 0; }

  header nav {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    z-index: -100;
    -webkit-transform: TranslateX(-100%);
    transform: TranslateX(-100%); }
    header nav .fr {
      float: none; }
    header nav .nav li {
      background-color: #FFF;
      padding: 0;
      margin: 0;
      width: 100%;
      border-bottom: 1px solid #F4F4F4;
      border-top: 1px solid #F8F8F8; }
      header nav .nav li a {
        width: 100%;
        padding-left: 1em;
        color: #333;
        line-height: 3em;
        font-weight: 400;
        font-size: 1em; }
  header .logo {
    position: absolute;
    left: 50%;
    margin-left: -45px; }
  header .mobile.ham {
    display: inline-block;
    font-size: 1.5em;
    width: 2em;
    padding: 0 .5em;
    margin-top: -1em; }
  header a.mobile {
    color: #FFF;
    font-size: .75em;
    display: inline-block;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem; }

  .mobile-hide {
    display: none; }

  section .sublime {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%; } }
@media all and (max-width: 870px) {
  .heading {
    width: 100%; }

  .mobile-none {
    display: none; }

  .mobile {
    display: block; }

  .limit {
    width: 83.3333%; }

  footer nav.fl {
    float: none;
    margin-bottom: 2em; }

  #about .stats ul {
    width: 100%; }

  .stats ul li {
    padding: 0em 0 6em;
    width: 50%; }

  .grid {
    width: 100%; }

  .block {
    min-height: 333px; }

  .grid li {
    width: 90%;
    margin: 5%; }

  .grid li.employee {
    width: 333px;
    float: none;
    margin: 0 auto; }

  .mosaic.press .col-small .section .col1-2,
  .mosaic.press .col-big .section .col1-2 {
    width: 50%; }
  .mosaic.press .col-small .section img, .mosaic.press .col-small .section p,
  .mosaic.press .col-big .section img,
  .mosaic.press .col-big .section p {
    margin: 0 auto;
    width: 50%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
  .mosaic .section p {
    padding: 5%;
    width: 90%; }
  .mosaic .col-small,
  .mosaic .col-big {
    width: 100%; }
    .mosaic .col-small .section,
    .mosaic .col-big .section {
      height: 20em; }
      .mosaic .col-small .section img,
      .mosaic .col-big .section img {
        width: 100%;
        height: auto; }

  #team section ul.filter {
    display: none; } }
@media all and (max-width: 500px) {
  .heading {
    font-size: 1.7em; }

  .cta {
    display: none; }

  .stats ul li {
    padding: 0em 0 6em;
    width: 100%; }

  .subheader {
    font-size: 1em;
    width: 100%;
    padding: 0 2em; }

  section p {
    width: 100%;
    padding: 0 2em; }

  img {
    width: 100%;
    padding: 0 2em; }

  br.no-mobile {
    display: none; }

  .files {
    font-size: 1em; }

  #faq section.toc li a {
    border: none;
    padding: 1px; }

  .desktop-only {
    display: none; } }
